@import 'scss/colors.scss';

.abstract-card.list-group-item {
  .item-content {
    margin-bottom: .8rem;
    max-height: 180px;
    overflow: hidden;
  }
  .item-expand a.btn, .item-expand button.btn {
    text-transform: uppercase;
    font-size: .7rem;
    line-height: 1.2rem;
    font-weight: bold;
  }
}
