@import '../../scss/colors.scss';

a.save-search {
  text-transform: uppercase;
  font-size: .7rem;
  line-height: 1.2rem;
  font-weight: bold;
}

.all-searches-link a {
  text-decoration: underline;
}
