$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #161925 !default;

$lighter-pink: #E86DA4 !default;
$pink: #F7468A !default;

$red: #993955 !default;

$light-blue: #E0EBF9 !default;
$blue: #6399D3 !default;

$light-purple: #C6D4FF !default;
$lighter-purple: #998FC7 !default;
$purple: #998FC7 !default;
$darker-purple: #67597A !default;
$dark-violet: #240A40 !default;

$green: #73AB84 !default;

$orange: #FFAC81 !default;
